<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/products">
      Shoe-ping
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ">
        <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/products">Home</a>
        </li>
        <% if(currentUser && currentUser.role === 'seller') { %>
          <li class="nav-item">
            <a class="nav-link " href="/product/new">Add Products</a>
          </li>
        <% } %>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li> -->
      </ul>
    </div>
  </div>
  <div class="d-flex collapse navbar-collapse" >
     <% if(!currentUser){%>
    <a href="/login"><button type="button" class="btn btn-success mx-1 my-auto nav-item">Login</button></a>
    <a href="/register"><button type="button" class="btn btn-primary mx-1 my-auto nav-item">SignUp</button></a>
    <% } else{%>
      <a class="mx-1 my-auto" href=""><span class="material-symbols-outlined ">
        account_circle
        </span></a>
        <p class="my-auto mx-auto overflow-x-hidden">Hello,<%=currentUser.username%></p>

        <% if(currentUser && currentUser.role==='buyer' ) { %>
        
          <a class="mx-3 my-auto nav-link position-relative" href="">
            <i class="material-symbols-outlined">shopping_cart</i>
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
              2
            </span>
          </a>
          <%}%>
    <a href="/logout"><button type="button" class="btn btn-danger mx-1 my-auto nav-item">Logout</button></a>
    <%}%>
  </div>
</nav>
